In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [26]:
kaef = pd.read_csv("Data Historis KAEF.csv")
kaef

         Tanggal  Terakhir  Pembukaan  Tertinggi  Terendah    Vol. Perubahan%
0     13/01/2025     605.0      650.0      650.0     605.0   3,43M     -6,20%
1     10/01/2025     645.0      665.0      690.0     625.0   2,32M     -3,01%
2     09/01/2025     665.0      700.0      705.0     660.0   1,83M     -3,62%
3     08/01/2025     690.0      690.0      730.0     690.0   3,94M      0,00%
4     07/01/2025     690.0      780.0      795.0     690.0  12,82M     -9,80%
...          ...       ...        ...        ...       ...     ...        ...
3133  14/02/2012     465.0      465.0      480.0     455.0   9,65M      0,00%
3134  13/02/2012     465.0      455.0      470.0     455.0   2,41M      1,09%
3135  10/02/2012     460.0      465.0      470.0     450.0   4,06M     -1,08%
3136  09/02/2012     465.0      460.0      470.0     450.0  10,57M      1,09%
3137  08/02/2012     460.0      435.0      460.0     435.0   9,32M      5,75%

[3138 rows x 7 columns]

In [27]:
# rename kolom
kaef = kaef.rename(columns={"Tanggal" : "Date", 
                            "Terakhir" : "Close", 
                            "Pembukaan" : "Open", 
                            "Tertinggi" : "High", 
                            "Terendah" : "Low", 
                            "Vol." : "Vol", 
                            "Perubahan%" : "Change(%)"})

kaef

            Date  Close   Open   High    Low     Vol Change(%)
0     13/01/2025  605.0  650.0  650.0  605.0   3,43M    -6,20%
1     10/01/2025  645.0  665.0  690.0  625.0   2,32M    -3,01%
2     09/01/2025  665.0  700.0  705.0  660.0   1,83M    -3,62%
3     08/01/2025  690.0  690.0  730.0  690.0   3,94M     0,00%
4     07/01/2025  690.0  780.0  795.0  690.0  12,82M    -9,80%
...          ...    ...    ...    ...    ...     ...       ...
3133  14/02/2012  465.0  465.0  480.0  455.0   9,65M     0,00%
3134  13/02/2012  465.0  455.0  470.0  455.0   2,41M     1,09%
3135  10/02/2012  460.0  465.0  470.0  450.0   4,06M    -1,08%
3136  09/02/2012  465.0  460.0  470.0  450.0  10,57M     1,09%
3137  08/02/2012  460.0  435.0  460.0  435.0   9,32M     5,75%

[3138 rows x 7 columns]

In [29]:
# mengubah tipe data
kaef['Date'] = pd.to_datetime(kaef['Date'])

kaef['Vol'] = (kaef['Vol']
               .str.replace(',', '.', regex=True)
               .str.replace('M', 'e6', regex=True)
               .str.replace('K', 'e3', regex=True)
               .astype(float))

kaef['Change(%)'] = (kaef['Change(%)']
                     .str.replace(',', '.', regex=True)
                     .str.replace('%', '', regex=True)
                     .astype(float))

In [30]:
# cek type data
kaef.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3138 entries, 0 to 3137
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3138 non-null   datetime64[ns]
 1   Close      3138 non-null   float64
 2   Open       3138 non-null   float64
 3   High       3138 non-null   float64
 4   Low        3138 non-null   float64
 5   Vol        3138 non-null   float64
 6   Change(%)  3138 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 171.7 KB

In [9]:
# cek missing value
kaef.isna().sum()

Date         0
Close        0
Open         0
High         0
Low          0
Vol          0
Change(%)    0
dtype: int64

In [10]:
# cek duplicates
kaef.duplicated().sum()

np.int64(0)

In [33]:
# statistik deskriptif
kaef.describe()

,Date,Close,Open,High,Low,Vol,Change(%)
count,3138,3138.000000,3138.000000,3138.000000,3138.000000,3.138000e+03,3138.000000
mean,2018-07-20 11:43:01.261950464,254.837016,252.194012,243.146367,262.347729,6.089939e+06,0.081064
min,2012-02-08 00:00:00,1.000000,1.000000,1.000000,1.000000,1.090000e+04,-16.380000
25%,2015-04-22 06:00:00,1.465000,1.451250,1.440000,1.623750,6.009500e+05,-1.620000
50%,2018-07-25 12:00:00,2.760000,2.745000,2.740000,2.770000,1.860000e+06,0.000000
75%,2021-10-13 18:00:00,610.000000,610.000000,600.000000,610.000000,4.917500e+06,1.010000
max,2025-01-13 00:00:00,995.000000,995.000000,995.000000,995.000000,2.444000e+08,25.000000
std,NaN,358.147229,356.608700,354.794946,359.445011,1.600324e+07,3.860374

In [38]:
# persentil
quartiles = np.percentile(kaef[['Open', 'High', 'Low', 'Close']], [25, 50, 75])
quartiles

array([  1.46,   2.75, 610.  ])